# Zip files
*.zip

deploy/mysql_is/patches/*
*wso2is*

.env

deploy/identity_server/patches/*
deploy/identity_server/process_info.log
deploy/identity_server/db_backups/

# Exclude python virtual environment
*myenv/

local/

*__pycache__/

*.DS_Store

logs/processed_error_logs.txt

